<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/home" method="POST">
      <label for="">input </label>
      <textarea type="text" name="text" id=""> </textarea>
      <button type="submit">submit</button>
    </form>
    <br />
    <form action="/newchat" method="GET">
      <button type="submit">New Chat</button>
    </form>
    <br />
    {% if text|length > 1%}
    <div>{{text}}</div>
    {% endif %}
  </body>
</html>
